///------------------------------------
//    #SETTINGS
//------------------------------------

// Globaly available variables





//-------------------------
//    #Colors
//    Global default settings
//	  for colors
//-------------------------


$black: #000;
$white: #fff;
$darkGreen: #475965;
$lightGreen: #7d8e9a;
$borderColor: #ced6dc;
$brandColor: #21b8c6;